@aside-bg-color: #222324;
@control-bg-color: fadeout(#b3b3b3, 80%);
@aside-font-color: #8f8f8f;
@aside-bg-hover-color: #2f3031;
@aside-font-size: 14px;

@main-bg-color: #1a1a1a;
@main-font-color: rgba(255, 255, 255, 0.85);
@main-font-dark-color: #333;
@main-font-placeholder-color: rgba(255, 255, 255, 0.2);

@btn-hover-color: #3b3c3d;

@modal-aside-bg-color: #2f2f2f;
@modal-aside-border-color: #373737;

@auto-complete-popper: #262728;
@auto-complete-popper-hover:#333435;


